<!DOCTYPE html lang="en">
<html>
<head>
	<title>Javascript Web Audio API Test App</title>
	<meta name="description" content="Does your phone, tablet, or other handheld device support Javascript Web Audio? This site tells you!">
	<script type='text/javascript' src='/Scripts/app.js'></script>
	<link rel="stylesheet" href="/Style/normalize.css">
	<link rel="stylesheet" href="/Style/skeleton.css">
</head>
<body>

	<h1>Web Audio Test</h1>
	<p>This application is been designed to test if your device works fine on mobile devices or not.
	If you have ever <a href="http://www.html5rocks.com/en/tutorials/webaudio/intro/">researched</a> <a href="http://ericbidelman.tumblr.com/post/13471195250/web-audio-api-how-to-playing-audio-based-on-user" target="_blank">JS audio</a> problems on iOS or Android, you may have found found a <a href="https://developers.google.com/web/updates/2012/01/Web-Audio-FAQ" target="_blank">variety</a> of <a href="http://codetheory.in/fixing-html5-audio-problems-in-ios-and-android-mobile-browsers-to-overcome-the-limitations/" target="_BLANK">reasons</a> or <a href="http://codetheory.in/html5-audio-behaviour-and-support-in-ios-and-android/" target="_blank">guides</a>.</p>
	<p>Browse to this site on your test device and see if <a href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html" target="_blank">Web Audio (W3C spec)</a> is supported.</p>

	<p>This site was created by <a href="https://github.com/code-for-coffee">code-for-coffee</a>. <a href="https://github.com/code-for-coffee/javascript-web-audio-test-app">Fork, Star, or Clone the Source on Github</a>.</p>

</body>
</html>
